
<h2>Edit Post N°<%= @post.id%></h2>
<%= form_for @post, url: {action: "update"}, html: {class: "form-vertical"} do |f| %>
<div class="form-group">
  <%= f.text_field :name, class: 'form-control' %>
</div>
<div class="form-group">
  <%= f.text_area :content, size: "60x12", class: 'form-control' %>
</div>
  <%= f.submit "Save", class: 'btn btn-success' %>
<% end %>
