<h1>Categories</h1>

<div class="categories">

  <% @categories.each do |category| %>
    <p><%= category.name %></p>
    <p><%= category.slug %></p>
    <a href="<%= edit_category_path(category.id) %>" class="btn btn-sm btn-primary">Edit</a>
    <a href="<%= category_path(category.id) %>" class="btn btn-sm btn-danger" data-confirm="Are you sure?" data-method="DELETE">Delete</a>
  <% end %>

  <hr>
  <p>
    <a href="<%= new_category_path %>" class="btn btn-success">Create a Category</a>
  </p>


</div>
